.summary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
}


.impact-area {
    background: url("img/circuts2.png") center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 475px;
    p:first-child {
        text-align: center;
    }
    .impact-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        img{
            width: 100%;
        }
        li p {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 40px;
        }
        .num {
            display: inline-block;
            background-color: $brand-color;
            margin-right : 10px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            text-align: center;
        }
    }
}

.support-area, .impact2-area {
    p:first-child {
        text-align: center;
    }
    .support-content, .impact2-content{
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        li {
            text-align: center;
            img, p{
                width: 75%;
                margin: auto;
            }
            p {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        h5 {
            color: #222;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .support-button {
        border: none;
        padding: 2%;
        background-color: $button-color;
        font-family: $heading-font;
        font-size: 14px;
        color: $content-color;
        text-transform: uppercase;

        &:hover {
            background-color: lighten($button-color, 6);
            box-shadow: 2px 2px 5px 2px rgba(0,0,0, 0.25);
        }
        a {
            color: white;
            cursor: pointer;
        }
    }
}
.success-area {
    background: url("img/stories.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 300px;
    p {
        text-shadow: $image-txt-shadow;
    }
    p:first-child {
        text-align: center;
    }
}

/* rotating testimonials */

.rw-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    margin: auto;

}

.rw-words {
  display: inline;
  text-align: center;
  span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    color: $content-color;
    animation: rotateWord 18s linear infinite 0s;
  }
}


.rw-words span {
  &:nth-child(2) {
    animation-delay: 3s;
    color: $content-color;
  }
  &:nth-child(3) {
    animation-delay: 6s;
    color: $content-color;
  }
  &:nth-child(4) {
    animation-delay: 9s;
    color: $content-color;
  }
  &:nth-child(5) {
    animation-delay: 12s;
    color: $content-color;
  }
  &:nth-child(6) {
    animation-delay: 15s;
    color: $content-color;
  }
}

@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
