/* ! ------------------------------------------------------------
## Footer
------------------------------------------------------------------*/
.site-footer {
	background-color: #2a2c35;
	color: white;
	font-family: 'lato';
	font-size: 17px;
}
.site-info {
	width: 75%;
	margin: auto;
	padding: 10px;
	border-top: 1px solid #575757;
	p {
		font-family: 'Lato';
		color: #8d8d8d;
		font-size: 15px;
	}
}
.logo-footer {
	width: 25%;
}
