/*- ! -------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


/* Contact Form */
.button-submit {
    width: 30%;
    border: none;
    border-radius: none;
    box-shadow: none;
    text-shadow: none;
    padding: 10px;
    background: $button-color;
    color: $content-color;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    &:hover{
        background-color: lighten($button-color, 6);
        box-shadow: 2px 2px 5px 2px rgba(0,0,0, 0.25);
    }
}
.press-message {
    font-size: .85em;
}
