/*! --------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    text-decoration: none;
    color: $brand-color;
	&:visited {
		color: #099eda;
	}
	&:hover {
		color: #ef402f;
		outline: 0;
	}
	&:focus {
		color: #ef402f;
	}
	&:active {
		color: #ef402f;
		outline: 0;
	}
}

/* Elementor button */
.elementor-button-link:visited {
    color:white;
}
