/* ! --------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Header Menu   -----------------------------------*/

.menu {
    width: 100%;
	ul {
		list-style: none;
		background-color: $content-bg;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	li {
		line-height: 40px;
		text-align: left;
		li {
			font-size: .8em;
		}
	}
	a {
		text-decoration: none;
		color: #242021;
		display: block;
        padding-left: 30px;
		padding-top: 60px;
		cursor: pointer;
		text-transform: uppercase;
	}
}
@media screen and (min-width:650px) {
	.menu {
		li {
			display: inline-block;
			margin-right: -4px;
			ul {
				position: absolute;
				display: none;
				background-color: white;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				min-width: 160px;
				z-index: 1;
				li {
					a {
						padding-top: 0;
					}
					display: block;
				}
			}
			&:hover {
				ul {
					display: block;
				}
			}
		}
		>ul {
			>li {
				text-align: center;
				>a {
					padding-left: 0;
				}
			}
		}
	}
}

/* Social Menu */

.social-navigation {

    ul {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }
    li {
        display: inline-block;
    }
    a {
        padding: 10px;
        text-align: center;
        color: $brand-color;
    }
    .fa-circle{
        border: 1px solid $brand-color;
        border-radius: 50%;
        color: $footer-bg;
    }

}

/* Footer Menu */
.footer-menu-container{
    width: 90%;
}
.footer-navigation{
    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        width: 250px;
    }

    li {
        line-height: 35px;
    }
    a {
        display: block;
        color: #fff;
        padding: 8px 16px;
        text-decoration: none;
        &:hover {
            color: $brand2-color;
        }
    }
}
