// colors
$heading-color: #fff;
$content-color: #fff;
$content2-color: rgb(28, 28, 28);
$copy-color: #8d8d8d;
$menu-color: #242021;
$button-color: #ef402f; // color listed in design doc #ef4031
$brand-color: #099eda;
$brand2-color: #ef402f;
$social-color: #099eda; // color listed in design doc #4ca1d2
$content-bg: #fff;
$footer-bg: #2a2c35;
$image-txt-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
